<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/zoo/tabs/lexicon"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ animal.name }}</ion-title>
    </ion-toolbar>
</ion-header>
