<ion-tabs>
    <ion-tab-bar slot="top">
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="calendar">
            <ion-icon name="calendar-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="map">
            <ion-icon name="map"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="lexicon">
            <ion-icon name="card"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="services">
            <ion-icon name="restaurant"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
