<ion-content>
    <ion-content fullscreen class="ion-padding" scroll-y="false">
        <ion-slides pager="true">

            <ion-slide>
                <ion-card>
                    <ion-card-title>Uvítací strana</ion-card-title>
                    <ion-card-content>Vytvořit layout a načítat do něho data pomocí API</ion-card-content>
                </ion-card>
            </ion-slide>

            <ion-slide>
                <ion-card>
                    <ion-card-title>Druhá strana</ion-card-title>
                    <ion-card-content>Vytvořit layout a načítat do něho data pomocí API</ion-card-content>
                </ion-card>
            </ion-slide>

            <ion-slide>
                <ion-card>
                    <ion-card-title>Třetí strana</ion-card-title>
                    <ion-card-content>Vytvořit layout a načítat do něho data pomocí API</ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </ion-content>
</ion-content>
