<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-sm="8" offset-sm="2">
                <ion-list>
                    <ion-item
                            *ngFor="let animal of animals"
                            [routerLink]="['/', 'zoo', 'tabs', 'lexicon', animal.id]"
                            detail
                    >
                        <ion-thumbnail slot="start">
                            <ion-img [src]="animal.imageUrl"></ion-img>
                        </ion-thumbnail>
                        <ion-label>
                            <h1>{{ animal.name }}</h1>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
